
  td {
    text-align: center;
  }

  th, td {
    padding: 10px;
    border-spacing: 10px;
  }

  img{
      width: 200px;
      height: 150px;
  }

  .titulo{
    font-family: 'Times New Roman';
  }
  .texto{
    font-family: Arial;
    font-size: 20px;
  }
  .receita{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold ;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }