
section.superior {
    text-align: center;
}
section.superior ul, section.superior li{
    list-style: none;
    display: inline-block;
}
section.inferior table, section.inferior td {
    border: 1px solid;
    background-color: green;
}